// == Breakpoints ===
$breakpoints: (
  small: 480px,
  medium: 768px,
  wide: 960px,
  large: 1024px,
  largest: 1280px
);

$color: (
  primary: #b4b3ef,
  success: #b5ea81,
  warning: #f5ed84,
  danger: #f4aaa9,
  text: #747870,
);
