.page-auth {
  .clearfix:before,
  .clearfix:after {
    content: " ";
    display: table;
  }

  .clearfix:after {
    clear: both;
  }

  .site-wrapper {
    margin: 1em auto 1em;
    max-width: 95%;
    @media screen and (min-height: 600px) {
      position: absolute;
      left: 50%;
      top: 50%;
      width: 500px;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }
  }

  .box {
    @include pxRem(height, 660);
    position: relative;
    overflow: hidden;
    text-align: center;
    margin: 0;
    font-family: 'Vazir', sans-serif;
    background-color: #fff;
    text-decoration: none;
    border: 1px solid transparent;
  }

  .input {
    display: block;
    width: 90%;
    text-align: center;
    line-height: normal;
    padding: .8em 1em;
    margin: 0 auto 2em;
    font-family: inherit;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 100px;

    &:hover, &:focus {
      border-color: #888 !important;
      outline: none;
    }

    &.has-error {
      border-color: #B71C1C;
    }
  }

  .submit {
    display: block;
    width: 170px;
    padding: 1em 0;
    margin: 0 auto 2em;
    font-family: inherit;
    border: 1px solid #ccc;
    border-radius: 100px;
    color: #fff;
    outline: none;
    background: #5597d0;
    background: -webkit-gradient(linear, left top, right top, from(#5597d0), to(#70d193));
    background: -webkit-linear-gradient(left, #5597d0 0%, #70d193 100%);
    background: -o-linear-gradient(left, #5597d0 0%, #70d193 100%);
    background: linear-gradient(to right, #5597d0 0%, #70d193 100%);

    &:hover, &:focus {
      cursor: pointer;
      background: #70d193;
      background: -webkit-gradient(linear, left top, right top, from(#3784c8), to(#56c880));
      background: -webkit-linear-gradient(left, #3784c8 0%, #56c880 100%);
      background: -o-linear-gradient(left, #3784c8 0%, #56c880 100%);
      background: linear-gradient(to right, #3784c8 0%, #56c880 100%);
    }
  }

  .link {
    display: inline-block;
    font-size: .9em;
    color: #777;
    text-decoration: none;
    border-bottom: 1px solid #777;
    padding: 0.1em;
    &:hover, &:focus {
      color: #555;
      text-decoration: none;
    }
  }

  .tab-item {
    float: right;
    width: 50%;
    margin: 0;
    padding: 1em;
    font-size: 1.3em;
    color: #ccc;
    cursor: pointer;
    border-bottom: 1px solid #ccc;
    text-decoration: none;

    &:hover, &:focus {
      background-color: #f7f7f7;
    }

  }

  .singIn, .singUp {
    position: absolute;
    width: 100%;
    top: 120px;
    left: 0;
    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    -ms-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s;
  }

  .singUp {
    opacity: 0;
  }

  .hiddenInput {
    position: absolute;
    visibility: hidden;
  }

  #signInTitle:checked {
    & + .tab-item {
      color: map-get($color, primary);
      border-color: map-get($color, primary);
    }
    & ~ .singIn {
      opacity: 1;
      z-index: 99;
      -webkit-transition-delay: .25s;
      -moz-transition-delay: .25s;
      -ms-transition-delay: .25s;
      -o-transition-delay: .25s;
      transition-delay: .25s;
    }
    & ~ .singUp {
      opacity: 0;
      -webkit-transition-delay: 0s;
      -moz-transition-delay: 0s;
      -ms-transition-delay: 0s;
      -o-transition-delay: 0s;
      transition-delay: 0s;
    }
  }

  #signUpTitle:checked {
    & + .tab-item {
      color: map-get($color, primary);
      border-color: map-get($color, primary);
    }

    & ~ .singUp {
      opacity: 1;
      z-index: 99;
      -webkit-transition-delay: .25s;
      -moz-transition-delay: .25s;
      -ms-transition-delay: .25s;
      -o-transition-delay: .25s;
      transition-delay: .25s;
    }

    & ~ .singIn {
      opacity: 0;
      -webkit-transition-delay: 0s;
      -moz-transition-delay: 0s;
      -ms-transition-delay: 0s;
      -o-transition-delay: 0s;
      transition-delay: 0s;
    }
  }

  .err-msg {
    color: #B71C1C;
    margin: 0 0 15px;
    opacity: 0;
    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    -ms-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s;

    &.show {
      opacity: 1;
    }
  }

  .checkLabel {
    display: inline-block;
    margin: 0 0 1em;
    cursor: pointer;
    color: #777;

    &:before {
      content: '';
      display: inline-block;
      vertical-align: middle;
      margin-left: 7px;
      width: 20px;
      height: 20px;
      border: 1px solid #777;
      border-radius: 50%;
      box-shadow: inset 0 0 0px 3px #fff, inset 0 0 20px 20px #fff;
      -webkit-transition: box-shadow .5s;
      -moz-transition: box-shadow .5s;
      -ms-transition: box-shadow .5s;
      -o-transition: box-shadow .5s;
      transition: box-shadow .5s;
    }

    &:hover {
      color: #555;
      &:before {
        border-color: #555;
      }
      .agreement_link {
        color: #555;
      }
    }

    &.has-error:before {
      border-color: #B71C1C;
    }

  }

  .checkbox:checked + .checkLabel:before {
    box-shadow: inset 0 0 0px 3px #fff, inset 0 0 20px 20px #5697d0;
    border-color: #777;
  }

  .agreement_link {
    color: #777;
    text-decoration: underline;
    &:hover, &:focus {
      color: #5697d0 !important;
    }
  }

}
