.page-auth {
  .site-wrapper {
    margin: 1em auto 1em;
    max-width: 95%;
    @include respond-above("medium") {
      @include pxRem(width, 500);
      position: absolute;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }
  }

  .box {
    @include pxRem(height, 565);
    position: relative;
    overflow: hidden;
    text-align: center;
    margin: 0;
    font-family: 'Vazir', sans-serif;
    background-color: map-get($color, white);
    text-decoration: none;
    border: 1px solid transparent;
  }

  .tab-item {
    @include pxRem(padding, 16);
    @include pxRem(font-size, 20);
    float: right;
    width: 50%;
    margin: 0;
    color: map-get($color, border-light);
    cursor: pointer;
    border-bottom: 1px solid map-get($color, border-light);
    text-decoration: none;
  }

  .sign-in, .sign-up {
    @include pxRem(top, 120);
    position: absolute;
    width: 100%;
    left: 0;
    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    -ms-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s;
  }

  .sign-up {
    opacity: 0;
  }

  .hidden-input {
    position: absolute;
    visibility: hidden;
  }

  #signin-title:checked {
    & + .tab-item {
      color: map-get($color, primary);
      border-color: map-get($color, primary);
    }
    & ~ .sign-in {
      opacity: 1;
      z-index: 99;
      -webkit-transition-delay: .25s;
      -moz-transition-delay: .25s;
      -ms-transition-delay: .25s;
      -o-transition-delay: .25s;
      transition-delay: .25s;
    }
    & ~ .sign-up {
      opacity: 0;
      -webkit-transition-delay: 0s;
      -moz-transition-delay: 0s;
      -ms-transition-delay: 0s;
      -o-transition-delay: 0s;
      transition-delay: 0s;
    }
  }

  #signup-title:checked {
    & + .tab-item {
      color: map-get($color, primary);
      border-color: map-get($color, primary);
    }

    & ~ .sign-up {
      opacity: 1;
      z-index: 99;
      -webkit-transition-delay: .25s;
      -moz-transition-delay: .25s;
      -ms-transition-delay: .25s;
      -o-transition-delay: .25s;
      transition-delay: .25s;
    }

    & ~ .sign-in {
      opacity: 0;
      -webkit-transition-delay: 0s;
      -moz-transition-delay: 0s;
      -ms-transition-delay: 0s;
      -o-transition-delay: 0s;
      transition-delay: 0s;
    }
  }
}
