.page-form {
  @include pxRem(padding, 20 0);
  .input-todo {
    @include pxRem(height, 40);
    @include pxRem(padding, 0 15);
    @include pxRem(border-radius, 20);
    @include pxRem(font-size, map-get($font-size, md));
    width: 80%;
    border: 1px solid map-get($color, violet);
    background: rgba(255,255,255,.2);
    font-style: italic;
    &:focus {
      outline: none;
    }
  }
  .btn-circle {
    @include pxRem(width, 40);
    @include pxRem(height, 40);
    @include pxRem(margin-left, 30);
    border-radius: 100%;
    color: map-get($color, violet);
    border-color: map-get($color, violet);
    background-color: transparent;
  }
}
