.page-footer {
  @include position(fixed, null, null, 0, null);
  background: map-get($color, white);
  width: 100%;
  z-index: 2;

  .filter-list {
    @include pxRem(padding, 10 20);
    border-top: solid 1px map-get($color, border-light);
  }
  .filter-item {
    @include pxRem(padding, 5);
    width: 50%;
  }

  .btn-filter {
    width: 100%;
    min-width: 90px;
    font-size: 12px;
  }
}


@include respond-above("small") {
  .page-footer {
    .filter-item {
      width: 25%;
    }
  }
}

@include respond-above("medium") {
  .page-footer {
    .filter-list {
      justify-content: center;
    }
    .filter-item {
      @include pxRem(width, 180);
    }
  }
}
