$container-bg-width: 500px;
.container {
  @include pxRem(padding-left, $grid-gutter);
  @include pxRem(padding-right, $grid-gutter);
  @extend %clr;
  margin: 0 auto;
  max-width: $container-width;
}
.page-main {
  min-height: calc(100vh - #{f-pxRem(180)});
}

@include respond-above("medium") {
  .layout-bg-blue {
    // background: scale-color($color: map-get($color, blue-light), $lightness: 60%);
    background: white;
    > .container {
      background: map-get($color, white);
      min-height: calc(100vh - #{f-pxRem(180)});
      width: $container-bg-width;
      border-left: 1px solid map-get($color, border-light);
      border-right: 1px solid map-get($color, border-light);
    }
  }
}
