.count-box {
  position: relative;
  width: 500px;
  .center {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  .circle-custom {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .decrease {
    left: 0
  }
  .increase {
    right: 0;
  }
}

.btn {
  @include border-radius(25);
  @include pxRem(padding, 10 0);
  color: map-get($color, dark-text);
  border: none;
}
.primary-btn {
  background: map-get($color, primary);
}

.warning-btn {
  background: map-get($color, warning);
}

.success-btn {
  background: map-get($color, success);
}

.danger-btn {
  background: map-get($color, danger);
}
